@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&family=Spartan&display=swap');

html {
  font-family: Manrope, Georgia, "Times New Roman", sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding: 24px;
  background: #FDEFB2;
}
h1 {
  font-family: Spartan, Georgia, "Times New Roman", sans-serif;
  font-size: 34px;
  line-height: 42px;
  padding-bottom: 6px;
}
form {
  background:#fde992;
  border:3px solid #466d1e;
}
li {
  padding-bottom: 18px;
  list-style-type: none;
  padding-left: 0;
}

@media screen and (min-width: 565px) {
  html {
    margin-left: 10%;
    margin-right: 10%;
  }

  body {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width:836px) {
  html {
    margin-left: 20%;
    margin-right: 20%;
  }

}
